{
	"extends": [
		"stylelint-config-recommended-scss",
		"stylelint-config-rational-order",
		"stylelint-prettier/recommended"
	],
	"plugins": ["stylelint-order", "stylelint-scss"],
	"rules": {
		"no-empty-source": null
	}
}