*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-family);

  &.scroll-disabled {
    overflow: hidden;
  }
}

.container {
  max-width: var(--mw);
  padding: 0 var(--container-horizontal-offset);
  margin: 0 auto;
}

.list-reset {
  list-style: none;
}

.btn-reset {
  background-color: transparent;
  border: none;
  outline: none;
}

.site-container {
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}
