@use "sass:math";

@mixin font($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-style: $style;
    font-weight: $weight;
    src:
      url("#{$file-path}.woff2") format("woff2"),
      url("#{$file-path}.woff") format("woff");
    font-display: swap;
  }
}

@function rem($value) {
  @return math.div($value, 16px) * 1rem;
}

@function em($current-value, $parent-value) {
  @return math.div($current-value, $parent-value) * 1em;
}
