@mixin font($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-style: $style;
    font-weight: $weight;
    src:
      url("#{$file-path}.woff2") format("woff2"),
      url("#{$file-path}.woff") format("woff");
    font-display: swap;
  }
}

@function stripunit($value) {
  @return $value / ($value * 0 + 1);
}

@function rem($pxValue) {
  @return #{stripunit($pxValue) / stripunit(16px)}rem;
}
