:root {
  // Colors

  --color-black: #000;
  --color-light: #fff;

  // Offsets

  --container-horizontal-offset: #{em(15px)};
  --design-mw: #{em(1600px)};
  --mw: calc(var(--design-mw) + var(--container-horizontal-offset) * 2);
  --grid-gap: #{em(20px)};

  // Fonts

  --font-family: "Gilroy", sans-serif;

  // Shades
  // Z-indexes
  // Border-radiuses
}
