.nav {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 35px;
    }

    a {
      color: var(--color-white);
      text-decoration: none;
    }
  }
}
