@import "@components/Logo/logo";
@import "@components/Navigation/navigation";

.header {
  padding: 20px 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
