@import "@cmps/Logo/logo";
@import "@cmps/Navigation/navigation";

.header {
  padding: rem(20px) 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
