extends layouts/page
include _mixins

block head
  - page.title = "Config - Home"

  +style("styles/index.css")

block partials
  include @cmps/Header/header
  main
    include @partials/index/content

block scripts
  +script("scripts/index.js")
